@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: rubik;
}
/* GENERAL */
h1 {
    font-family: rubik;
    font-weight: 400;
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-family: rubik;
    font-weight: 700;
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}
h3, h4, h5, h6 {
    font-family: rubik;
    font-weight: 400;
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
}
p, li {
    font-family: rubik;
    font-weight: 400;
    font-size: 100%;
}
a:link {
    color: #F7F7F7;
}
a:visited {
    color: #FF8820;
}
/*Color secciones */

.section--bgcolor1 {
    background-color: #0D2B49;
}
.section--bgcolor2 {
    background-color:#FF8820;
}
.section--bgcolor3 {
    background-color: #F7F7F7;
}

/*Color textos */

.text--color1 {
    color: #0D2B49;
}
.text--color2 {
    color:#FF8820;
}
.text--color3 {
    color: #F7F7F7;
}

/* Header */

header {
    background-color: #0D2B49;
    height: 95px;
    position: sticky;
    top: 0px;
    z-index: 1;
    grid-area: header;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header__nav img {
    height:90px;
    padding-left: 10px;
}
.header__nav__buttons{
    display: flex;
    align-items: flex-end;
}
/*.header__nav ul {
    position: relative;
    bottom: 55px;
    left: 400px;
} */
.header__nav li {
    display: inline-block;
    padding: 10px;
    transition: transform 0.5s;
}
.header__nav li a:visited {
    color: #F7F7F7;
}
.header__nav li:hover {
    background-color: #FF8820;
    border-radius: 25px 0 0 0 ;
    transform: scale(1.1);
}
/* Encabezado*/

.encabezado {
    width: 100%;
    height: 400px;
    text-align: center;
}
.encabezado img {
    width:16%;
    padding-top: 50px;
    padding-bottom: 25px;
    animation-name: rotate;
    animation-duration: 1.7s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.encabezado h1 {
    margin-bottom: 25px;
}
.encabezado p {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}
.encabezado--servicios {
    background-image: url(../imgs/servicios-background.jpg);
    background-position: center;
    background-size: cover;
}
.encabezado--quienessomos {
    background-image: url(../imgs/quienessomos-background.jpg);
    background-position: center;
    background-size: cover;
}
.encabezado--nuestrosclientes {
    background-image: url(../imgs/nuestrosclientes-background.jpg);
    background-position: center;
    background-size: cover;
}
.encabezado--contacto {
    /* background-image: url(../imgs/contacto-background.jpg);
    background-position: center;
    background-size: cover;*/
    background-color: #F7F7F7;
}

/* Principal */

.principal {
    height: 570px;
    background-image: url(../imgs/principal-background01.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    grid-area: principal;
}
.principal__image{
    width:16%;
    padding-top: 100px;
    padding-bottom: 25px;
    margin-left: 42%;
    animation-name: rotate;
    animation-duration: 1.7s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.principal__title {
    color: #0D2B49;
}
.principal__subtitle {
    color: #FF8820;
}
.principal__description {
    text-align: center;
    font-style: italic;
    padding: 25px;
}

/* SLIDER */
.slider {
    height: 500px;
    background-image: url(../imgs/servicios-albanil.jpg);
    background-size: cover;
    grid-area: slider;
}
.slider__box{
    background-color: rgba(247, 247, 247, 70%); 
    /* width: 250px;
    height:70px; */
    position: relative;
    top: 300px;
    margin-left: 60%;
    margin-right: 10%;
    text-align: center;
    padding: 25px;
    border: solid 5px #FF8820;
    border-radius: 25px;
}
.slider__box__description {
    font-style: italic;
}

/* Cards (MISION)*/
.mision{
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
    grid-area: mision;
}
.mision__cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: #f7f7f7;
    border:solid 5px  #FF8820;
    width: 26%;
    padding: 20px;
    margin: 20px;
    display:inline-block;
    border-radius: 20px;
    transition: all 0.7s;
}
.card:hover{
    transform:scale(1.15);
}
.card__img {
    width: 40%;
    border:solid 7px  #0D2B49;
    border-radius: 100%;
    margin-left: 27%;

}
.card__title{
    font-weight: 700;
    padding-top: 10px;
}
.card__description {
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}

/* Corporative*/
.corporative {
    /* display: flex; 
    align-items: center; */
    grid-area: corporative;
    padding: 2%;
    background-color: #FF8820;
}
/* Seccion de STAFF*/
.staff {
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 35px;
}
.staff__container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: right;
    align-items: center;
}

.staff img{
    width: 100px;
    display: inline-block;
    border:#FF8820 4px solid;
    border-radius: 100%;
}
.staff__article__text {
    display: inline-block;
    width: 100%;
    text-align: justify;
    padding: 20px;
}
.staff__article__text h4{
    text-align: right;
    font-weight: 700;
}
.staff__article__text p{
    font-style: italic;
}

/* Cards de Servicios */
.section__title {
    padding-top: 25px;
    padding-bottom: 10px;
}
.servicios__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.servicio__card {
    background-color:#0D2B49;
    color:#F7F7F7;
    width: 400px;
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.7s;
}
.servicio__card:hover{
    transform:scale(1.15);
}
.servicio__card img{
    width: 96%;
    margin: 2%;
    border-radius: 10px;
}
.servicio__card h3 {
    font-weight: 700;
}
.servicio__card p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* CARDS DE COMENTARIOS*/
.comentarios {
    margin-left: 2%;
    margin-right: 2%;
}
.comentarios__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.comentarios__card {
    width: 350px;
    border: #0D2B49 3px solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
.comentarios__card__icon {
    width: 75px;
    border: #0D2B49 solid 3px;
    border-radius: 100%;
}
.comentarios__card__stars {
    width: 30%;
}
.comentarios__card p {
    padding-bottom: 10px;
    padding-top: 10px;
}

/* CARD GALERIA*/

.galeria__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.galeria__card {
    background-color: #0D2B49;
    color: #F7F7F7;
    text-align: center;
    width: 540px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
        "galeriaTitulo galeriaTitulo"
        "galeriaDescripcion galeriaDescripcion"
        "galeriaImg1 galeriaImg2"
        "galeriaImg3 galeriaImg3";
    grid-gap: 15px;
}
.galeria__card h3{
    margin-top: 3%;
    grid-area: galeriaTitulo;
}
.galeria__card p{
    font-style: italic;
    margin: 5%;
    grid-area: galeriaDescripcion;
}
.galeria__card__img1 {
    width: 100%;
    grid-area: galeriaImg1;
}
.galeria__card__img2 {
    width: 100%;
    grid-area: galeriaImg2;
}
.galeria__card__img3 {
    width: 100%;
    grid-area: galeriaImg3;
}
.galeria__card__img{
    transition: all 0.5s;
}
.galeria__card__img:hover{
    transform: scale(1.1);
    border-radius: 15px;
}
/* FORMULARIO GENERAL*/

.form input, .form select {
    border-radius: 10px;
    height: 20px;
    margin-bottom: 10px;
}
.form textarea {
    border-radius: 10px;
    overflow: auto;
    padding: 5px;
}
.form__button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 20px;
    border-radius: 10px;
}

/* FORMULARIO HORIZONTAL */
.form--horizontal{
    width: 100%;
    padding-bottom: 25px;
}
.form--horizontal form {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    border: #F7F7F7 solid 3px;
    border-radius: 10px;
}
.form--horizontal form .f_h_input{
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
}
.form--horizontal form textarea{
    width: 100%;
    height: 45px;
    margin-left: 5%;
}
.form--horizontal__section {
    width: 30%;
    display: inline-block;
    padding: 5px;
}
.form--horizontal__section--button {
    width: 100%;
    display: inline-block;
    padding: 5px;
    text-align: center;
    height: 60px;
}
.form--horizontal__button {
    width: 50%;
    height: 30px;
}

/*FORMULARIO CONTACTO */
.contacto__main {
    background-image: url(../imgs/servicios-albanil.jpg);
    background-position: center;
    background-size: cover;
}
.form--contacto {
    width: 30%;
    height: auto;
    display: inline-block;
    position: relative;
    left: 60%;
}
.form--contacto h2 {
    padding-top: 15px;
}
.form--contacto form{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    text-align: center;
}
.form--contacto form input, .form--contacto form select {
    width: 100%;
}
.form--contacto form .radio {
    display: inline-block;
    width: 20%;
}
.form--contacto form textarea{
    width: 95%;
    height: 50px;
    margin-left: 0;
}
/* FORMULARIO VERTICAL */

.form--vertical {
    height: auto;
    display: inline-block;
    grid-area: formVert;
}
.form--vertical h2 {
    padding-top: 15px;
}
.form--vertical form{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5px;
    text-align: center;
}
/* Botón de whatsapp */
.whatsapp-left {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-image:url(../imgs/icon-whatsapp-left.png);
    background-size: cover;
    position: fixed;
    top: 300px;
    right: 0px;
}
/* Footer */

.footer {
    background-color: #0D2B49;
    height: auto;
    width: 100%;
    color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
}
.footer__section {
    width: 20%;
    display: inline-block;
    margin: 2%;
    position: relative;
}
.footer__section__main{
    text-align: center;
}
.footer__section__logo {
    width: 70%;
}
.footer__section__coment{
    text-align: center;
}

.footer__section__coment p{
    padding-top: 10px;
}
.footer__section ul {
    list-style-type: none;
    padding-top: 10px;
}
.footer__section__contact ul li a{
    display: flex;
    gap: 10px;
}
.footer__section__redes ul{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.footer__section__icon {
    width: 30px;
}


/* VISTA DESKTOP */
@media only screen and (min-width: 1024px){
    .index{
        display: grid;
        grid-template-areas: 
        "header header header header"
        "principal principal principal principal"
        "slider slider slider slider"
        "mision mision mision mision"
        "corporative corporative corporative formVert"
        "footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
    
}    

/* vista tablet */
    
@media only screen and (min-width: 768px) and (max-width:1023px){
    .index{
        display: grid;
        grid-template-areas: 
        "header"
        "principal"
        "slider"
        "mision"
        "corporative" 
        "formVert"
        "footer";
        grid-template-columns: 1fr; 
    }
    .slider__box{
        background-color: rgba(247, 247, 247, 70%); 
        position: relative;
        top: 320px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .mision {
        height: auto;
    }
    .mision__cardContainer{
        display: grid;
        grid-template-areas: 
            "card1 card2"
            "card3 card3";
        justify-items: center;
    }
    .card1 {
        grid-area: card1;
        width: 360px;
    }
    .card2 {
        grid-area: card2;
        width: 360px;
    }
    .card3 {
        grid-area: card3;
        width: 360px;
    }
    .corporative{
        height: auto;
    }
    .corporative iframe{
        height: 75vh;
        width: 100%;
    }
    .form--vertical form{
        padding-left: 15%;
        padding-right: 15%;
    }
    .form input {
        height: 30px;
        width: 100%;
    }
    .form--vertical form textarea{
        width: 95%;
        height: 60px;
        margin-left: 0;
    }
    .staff__container{
        margin-top: 25px;
        display: grid;
        grid-template-areas: 
            "staff__container__img1 staff__container__img2"
            "staff__article__text1 staff__article__text2"
            "staff__container__img3 staff__container__img4"
            "staff__article__text3 staff__article__text4";
        grid-template-columns: 1fr 1fr;
        margin-left: 10%;
        margin-right: 10%;
        justify-items: center;
        align-items: center;
    }
    .staff__container__img1{
        grid-area: staff__container__img1;
    }
    .staff__container__img2{
        grid-area: staff__container__img2;
    }
    .staff__container__img3{
        grid-area: staff__container__img3;
    }
    .staff__container__img4{
        grid-area: staff__container__img4;
    }
    .staff__article__text1{
        grid-area: staff__article__text1;
    }
    .staff__article__text2{
        grid-area: staff__article__text2;
    }
    .staff__article__text3{
        grid-area: staff__article__text3;
    }
    .staff__article__text4{
        grid-area: staff__article__text4;
    }
    .staff__article__text h4{
        text-align: center;
    }
    
    .form--horizontal__section {
        width: 75%;
        display: block;
        padding: 5px;
    }
    .form--horizontal form {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10px;
        border: #F7F7F7 solid 3px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .form--horizontal form .f_h_input{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .form--horizontal form textarea{
        margin: 0;
        width: 100%;
        height: 50px;
    }
    .form--horizontal__button {
        margin: 0;
        margin-top: 20px;
   }
   .galeria__container {
    flex-direction: column;

    }
    .galeria__card {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    /* Formulario pagina de contacto */
    .form--contacto {
        width: 50%;
        height: auto;
        display: inline-block;
        position: relative;
        left: 50%;
    }

   /* Footer tablet */
    .footer{
        align-items: center;
    }
}


/* VISTA MOBILE */

@media only screen and (max-width: 767px){
    .index{
        display: grid;
        grid-template-areas: 
        "header"
        "principal"
        "slider"
        "mision"
        "corporative" 
        "formVert"
        "footer";
        grid-template-columns: 1fr; 
    }
    header{
        height: auto;
        position: static;
    }
    .encabezado{
        padding-bottom:25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .encabezado img{
        width: 45%;
        margin: 0;
    }
    .mision{
        height: auto;
    }
    .mision__cardContainer{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .card {
        width: 100%;
        padding: 20px;
        margin: 20px;
    }
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal__image{
        width:50%;
        margin: 0;
    }
    .slider{
        height: 90vh;
    }
    .slider__box{
        background-color: rgba(247, 247, 247, 70%); 
        position: relative;
        top: 320px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .corporative{
        height: auto;
    }
    .corporative iframe{
        height: 75vh;
        width: 100%;
    }
    .form--vertical form{
        padding-left: 15%;
        padding-right: 15%;
    }
    .form input {
        height: 30px;
        width: 100%;
    }
    .form--vertical form textarea{
        width: 95%;
        height: 60px;
        margin-left: 0;
    }
    .form--horizontal__section {
        width: 75%;
        display: block;
        padding: 5px;
    }
    .form--horizontal form {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10px;
        border: #F7F7F7 solid 3px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .form--horizontal form .f_h_input{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .form--horizontal form textarea{
        margin: 0;
        width: 100%;
        height: 50px;
    }
    .form--horizontal__button {
        margin: 0;
        margin-top: 20px;
   }
    .staff__container{
        margin-top: 20px;
        display: grid;
        grid-template-areas: 
            "staff__container__img1" 
            "staff__article__text1"
            "staff__container__img2" 
            "staff__article__text2"
            "staff__container__img3" 
            "staff__article__text3" 
            "staff__container__img4"
            "staff__article__text4";
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-right: 10%;
        justify-items: center;
        align-items: center;
    }
    .staff__article__text h4{
        text-align: center;
    }
    .galeria__container {
        flex-direction: column;
        
    }
    .galeria__card {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-template-areas: 
        "galeriaTitulo"
        "galeriaDescripcion"
        "galeriaImg1"
        "galeriaImg2"
        "galeriaImg3";
    }
    /* Formulario pagina de contacto */
    .contacto__main {
        background-image: none;
    }
    .form--contacto {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        left: 0%;
    }
    .form--contacto form{
        padding-left: 5%;
        padding-right: 5%;
    }
    /* footer mobile */
    .footer{
        text-align: center;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }
    .footer__section{
        width: 80%;
        margin: 4%;
    }
    .footer__section__logo {
        width: 60%;
    }
    .footer__section__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__section__contact h4 {
        margin-bottom: 15px;
    }
    .footer__section__redes h4 {
        margin-top: 15px;
    }
    .footer__section__redes ul{
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
    }
    .footer__section__redes .footer__section__icon {
        width: 70%;
    }
}