@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  font-family: rubik;
}

/* GENERAL */
h1 {
  font-weight: 700;
  font-size: 300%;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
  text-align: center;
}

h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 125%;
  text-transform: uppercase;
  text-align: center;
}

p, li {
  font-weight: 400;
  font-size: 100%;
}

a:link {
  color: #F7F7F7;
}

a:visited {
  color: #FF8820;
}

/*SECCIONES */
.section--bgcolor1 {
  background-color: #0D2B49;
}

.section--bgcolor2 {
  background-color: #FF8820;
}

.section--bgcolor3 {
  background-color: #F7F7F7;
}

/*TEXTOS - COLOR */
.text--color1 {
  color: #0D2B49;
}

.text--color2 {
  color: #FF8820;
}

.text--color3 {
  color: #F7F7F7;
}

/*INDEX - PRINCIPAL*/
.principal {
  height: 85vh;
  background-image: url(../imgs/principal-background01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal__image {
  padding-bottom: 25px;
  padding-top: 50px;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.principal__title {
  color: #0D2B49;
}

.principal__subtitle {
  color: #FF8820;
}

.principal__description {
  font-style: italic;
  padding: 25px;
  font-weight: 700;
  font-size: 100%;
  text-transform: normal;
  text-align: center;
}

/*ENCABEZADOS*/
.encabezado {
  width: 100%;
  height: auto;
  text-align: center;
}

.encabezado .encabezado__image {
  width: 16%;
  padding-top: 50px;
  padding-bottom: 25px;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.encabezado h1 {
  margin-bottom: 25px;
}

.encabezado p {
  font-style: italic;
  font-weight: 700;
}

.encabezado--contacto, .encabezado--servicios, .encabezado--quienessomos, .encabezado--nuestrosclientes {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.encabezado--servicios {
  background-image: url(../imgs/servicios-background.jpg);
}

.encabezado--quienessomos {
  background-image: url(../imgs/quienessomos-background.jpg);
}

.encabezado--nuestrosclientes {
  background-image: url(../imgs/nuestrosclientes-background.jpg);
}

.contacto--icon {
  border-radius: 100%;
  height: 40px;
}

.contacto--text {
  margin: 0;
  color: #212529;
  font-weight: 400;
}

/*CARDS MISION CORPORATIVA*/
.card {
  border-radius: 0.5rem;
  border: none;
}

.section__title {
  padding-top: 20px;
  padding-bottom: 10px;
}

.mision {
  height: auto;
  padding: 25px;
}

.card-mision {
  background-color: #F7F7F7;
  border: solid 5px #FF8820;
  border-radius: 20px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.card-mision:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card__img {
  width: 20%;
  border: solid 5px #0D2B49;
  border-radius: 100%;
}

.card-title {
  font-weight: 700;
  padding-top: 10px;
}

.card-text {
  text-align: center;
  font-style: italic;
}

/*CARD DE SERVICIOS*/
.servicios__container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.servicio__card {
  padding: 0;
}

.servicio__card--body {
  background-color: #0D2B49;
  color: #F7F7F7;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  margin: 7px;
}

.servicio__card--body:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 2;
}

.servicio__card img {
  width: 96%;
  margin: 2%;
  border-radius: 10px;
}

/*CARDS DE STAFF*/
.staff {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.staff__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.staff__container__card {
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff__container__card:hover {
  background-color: rgba(13, 43, 73, 0.2);
  border-radius: 15px;
}

.staff__container__img {
  width: 100px;
  height: 100px;
  border: #FF8820 4px solid;
  border-radius: 100%;
  padding: 0;
}

.staff__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.staff__article__text p {
  text-align: justify;
  font-style: italic;
}

.staff__article__text h4 {
  font-weight: 600;
  text-align: left;
}

/*PANELES DE GALERÍA*/
.galeria__card {
  background-color: #0D2B49;
  color: #F7F7F7;
}

.galeria__card__img {
  padding: 0;
  padding: 1em;
  border-radius: 25px;
}

.galeria__card__img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.galeria__card__img:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

/*VIDEO - INDEX */
.corporative {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoIframe {
  height: 500px;
  width: 100%;
  padding-top: 15px;
}

/* BOTONES */
/*Botón de Mercadolibre*/
.btn-ml {
  text-align: center;
  height: 70px;
}

.btn-ml .btn {
  background-color: #FF8820;
  border-radius: 10px;
  margin-top: 30px;
  border: none;
}

.btn-ml .btn:hover {
  background-color: #F7F7F7;
  color: #FF8820 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #FF8820 3px solid;
}

.btn-ml .btn:visited {
  color: #F7F7F7;
}

/*Botón de Whatsapp*/
.whatsapp-left {
  background-image: url(../imgs/icon-whatsapp-left.png);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 110px;
  right: 0px;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 17;
}

@media (max-width: 767px) {
  .whatsapp-left {
    top: 130px;
  }
}

/*SLIDER DE FOTOS - INDEX*/
.slider {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  background-color: rgba(13, 43, 73, 0.8);
  color: #F7F7F7;
  border-radius: 15px;
  left: 27%;
  right: 27%;
  bottom: 12%;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

.carousel-caption-text {
  text-transform: italic;
}

.carousel-indicators li {
  border-radius: 100%;
  height: 10px;
  width: 20px;
}

/*CAROUSEL DE COMENTARIOS DE CLIENTES*/
.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-inner__comentarios {
  padding: 1em;
}

.carousel-inner__comentarios img {
  width: 60px;
  height: 60px;
  border: #0D2B49 solid 3px;
  border-radius: 100%;
}

.carousel-inner__comentarios .card {
  margin: 0 0.5em;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 4px #0D2B49 solid;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner__comentarios .card .card-body {
  text-align: center;
  padding: 0.7em;
}

.carousel-inner__comentarios .card .card-body .card-title {
  padding: 0;
  margin-bottom: 0;
}

.d-md-block {
  text-align: center;
}

.carousel-control-prev__comentarios,
.carousel-control-next__comentarios {
  background-color: #cac9c9;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*RESPONSIVE*/
@media (min-width: 768px) {
  .carousel-inner__comentarios .card {
    width: 30%;
  }
}

/*CAROUSEL DE COMENTARIOS - FOOTER*/
.carousel-inner__comentarios--footer {
  padding: 0;
}

.carousel-inner__comentarios--footer img {
  width: 60px;
  height: 60px;
  border: #0D2B49 solid 3px;
  border-radius: 100%;
}

.carousel-inner__comentarios--footer .card {
  background-color: #0D2B49;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner__comentarios--footer .card .card-body {
  text-align: center;
  padding: 0;
  padding-top: 10px;
}

.carousel-inner__comentarios--footer .card .card-body .card-title {
  padding: 0;
  margin-bottom: 0;
}

.carousel-control-prev__footer,
.carousel-control-next__footer {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*FORMULARIO VERTICAL*/
.form--vertical {
  padding-top: 20px;
  border-radius: 15px 0 0 0;
  padding-right: 25px;
  padding-left: 25px;
}

.form--vertical h2 {
  color: #F7F7F7;
}

.form--vertical label {
  color: #FF8820;
}

.form--vertical .form__button {
  background-color: #FF8820;
  color: #F7F7F7;
  height: 35px;
}

.form-group-vertical {
  margin-bottom: 0;
}

.form__button {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
}

.form-control {
  border-radius: 10px;
}

/*FORMULARIO HORIZONTAL*/
.form--horizontal {
  height: auto;
  margin-bottom: 5px;
  border-radius: 15px;
}

.form--horizontal h2 {
  color: #F7F7F7;
}

.form--horizontal label {
  color: #FF8820;
}

.form--horizontal .form__button {
  background-color: #FF8820;
  color: #F7F7F7;
  height: 35px;
}

.form--horizontal__section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.form--horizontal__section .offset-1 {
  margin-left: 0;
}

.form--horizontal__button {
  height: 40px;
}

/* FORMULARIO CONTACTO */
.contacto__main {
  background-image: url(../imgs/servicios-albanil.jpg);
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

.form--contacto {
  padding-top: 20px;
  border-radius: 15px 0 0 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.form--contacto h2 {
  color: #F7F7F7;
}

.form--contacto label, .form--contacto span {
  color: #FF8820;
}

.form--contacto .form__button {
  background-color: #FF8820;
  color: #F7F7F7;
  height: 35px;
}

.form--contacto .form-group {
  margin-bottom: 0;
}

.form--contacto .form-group label {
  font-style: italic;
}

/*HEADER*/
header {
  padding-bottom: 99px;
}

@media (max-width: 500px) {
  header {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1340px) {
  header {
    padding-bottom: 50px;
  }
}

.navbar-expand-md {
  position: fixed;
  width: 100%;
  z-index: 16;
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  width: 70%;
}

.header__nav__buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-link {
  color: #F7F7F7;
}

.nav-link:visited {
  color: #F7F7F7;
}

.nav-link:hover {
  background-color: rgba(255, 136, 32, 0.9);
  color: #F7F7F7;
  border-radius: 5px;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.navbar-toggler-icon {
  background-image: url(../imgs/iconmenucol.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .header__nav a {
    width: 70%;
  }
}

/*FOOTER*/
.footer {
  margin-right: 0;
  margin-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__section {
  background-color: #0D2B49;
  border: none;
  color: #F7F7F7;
  padding: 10px;
  padding-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__section__logo {
  width: 60%;
  padding-top: 10px;
}

.footer__section ul {
  list-style-type: none;
  padding-top: 10px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.footer__section__contact ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__section__redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer__section__icon {
  width: 30px;
  height: 30px;
}

/*FOOTER MOBILE*/
@media only screen and (max-width: 767px) {
  .footer__section__coment p {
    padding-top: 15px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .footer__section__map ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__section__map ul li {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FF8820;
    color: #F7F7F7;
    border-radius: 15px;
    width: 60%;
  }
  .footer__section__map ul li a:visited {
    color: #F7F7F7;
  }
}

/*COPYRIGHT*/
.copyright {
  color: #0D2B49;
  background-color: #F7F7F7;
  font-size: 75%;
}
/*# sourceMappingURL=styles3.css.map */