@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap');

//VARIABLES
$color1: #F7F7F7;
$color2: #FF8820;
$color3: #0D2B49;

* {
    font-family: rubik;
}

/* GENERAL */
h1 {
    font-weight: 700;
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-weight: 700;
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}
h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
}
p, li {
    font-weight: 400;
    font-size: 100%;
}
a:link {
    color: $color1;
}
a:visited {
    color: $color2;
}
/*Color secciones */

.section--bgcolor1 {
    background-color: $color3;
}
.section--bgcolor2 {
    background-color:$color2;
}
.section--bgcolor3 {
    background-color: $color1;
}

/*Color textos */

.text--color1 {
    color: $color3;
}
.text--color2 {
    color:$color2;
}
.text--color3 {
    color: $color1;
}



/*INDEX - PRINCIPAL*/

.principal {
    height: 85vh;
    background-image: url(../imgs/principal-background01.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal__image{
    padding-bottom: 25px;
    padding-top: 50px;
    animation-name: rotate;
    animation-duration: 1.7s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.principal__title {
    color: $color3;
}
.principal__subtitle {
    color: $color2;
}
.principal__description {
    text-align: center;
    font-style: italic;
    padding: 25px;
}

/*ENCABEZADOS*/

.encabezado {
    width: 100%;
    height: auto;
    text-align: center;
}
.encabezado img {
    width:16%;
    padding-top: 50px;
    padding-bottom: 25px;
    animation-name: rotate;
    animation-duration: 1.7s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.encabezado h1 {
    margin-bottom: 25px;
}
.encabezado p {
    font-style: italic;
}

.encabezado--servicios {
    background-image: url(../imgs/servicios-background.jpg);
    background-position: center;
    background-size: cover;
}
.encabezado--quienessomos {
    background-image: url(../imgs/quienessomos-background.jpg);
    background-position: center;
    background-size: cover;
}
.encabezado--nuestrosclientes {
    background-image: url(../imgs/nuestrosclientes-background.jpg);
    background-position: center;
    background-size: cover;
}

/*SLIDER*/
.slider {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    background-color: rgba(13,43,73,0.7);
    color:$color1 ;
    border-radius: 15px;
    left: 27%;
    right: 27%;
    bottom: 12%;
}
.carousel-control-next, .carousel-control-prev {
    width: 10%;
}
.carousel-caption-text {
    text-transform: italic;
}
.carousel-indicators li {
    border-radius: 100%;
    height: 10px;
    width: 20px;
}

/*CARDS*/
.card{
    border-radius: 0.5rem;
    border:none;
}
.section__title {
    padding-top: 20px;
    padding-bottom: 10px;
}
    .mision{
    height: auto;

    padding: 25px;

}
.card-mision {
    background-color: $color1;
    border:solid 5px  $color2;
    border-radius: 20px;
    transition: all 0.7s;
    align-items: center;
    padding: 15px;
}
.card-mision:hover{
    transform:scale(1.15);
}
.card__img {
    width: 40%;
    border:solid 7px  $color3;
    border-radius: 100%;

}
.card-title{
    font-weight: 700;
    padding-top: 10px;
}
.card-text {
    text-align: center;
    font-style: italic;
}

/*CARD DE SERVICIOS*/
.servicio__card {
    background-color: $color3;
    color: $color1;
    padding: 10px;
    border-radius: 10px;
}
.servicios__container{
    margin-left:20px ;
    margin-right: 20px;
}
.servicio__card {
    text-align: center;
    border-radius: 10px;
    transition: all 0.7s;
}
.servicio__card:hover{
    transform:scale(1.05);
    z-index: 2;
    border: $color1 5px solid;
}
.servicio__card img{
    width: 96%;
    margin: 2%;
    border-radius: 10px;
}
.card-columns {
    gap: 25px;
}
@media only screen and (min-width: 578px) and (max-width:1023px){
    .card-columns {
        column-count: 2;}
}

/*STAFF*/
.staff {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.staff__container{
    justify-content: space-around;
}

.staff__container__card{
    padding-top: 20px;
    align-items: center;
}
.staff__container__card:hover {
    background-color: rgba(13,43,73,0.2);
    border-radius: 15px;
}
.staff__container__img  {
    width: 100px;
    height: 100px;
    border:$color2 4px solid;
    border-radius: 100%;
    padding: 0;
}
.staff__imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;    
}
.staff__article__text p{
    text-align: justify;
    font-style: italic;
}
.staff__article__text h4 {
    font-weight: 600;
    text-align: left;
}

/*CARDS DE COMENTARIOS*/
.comentarios__card__stars{
    width: 100px;
}
.comentarios__card {
    border: $color3 3px solid;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
.comentarios__card__icon {
    width: 75px;
    border: $color3 solid 3px;
    border-radius: 100%;
}

/*GALERIA CARDS*/
.galeria__card{
    background-color: $color3;
    color: $color1;
}
.galeria__card__img{
    padding: 0;
    padding: 1em;
    border-radius: 25px;
}
.galeria__card__img{
    transition: all 0.5s;
}
.galeria__card__img:hover{
    transform: scale(1.06);

}
/*VIDEO */
.corporative {
    align-items: center;
}
.videoIframe {
    height: 500px;
    width: 100%;
    padding-top: 15px;
}

/*FORMULARIO VERTICAL*/

.form--vertical {
    padding-top: 20px;
}
.form-group-vertical {
    margin-bottom: 0;
}
.form__button {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 15px;
}
.form-control{
    border-radius: 10px;
}
/*FORMULARIO HORIZONTAL*/

.form--horizontal{
    height: auto;
    margin-bottom: 15px;
}
.form--horizontal__section{
    justify-content: center;
    margin: 0px;
}
.form--horizontal__section .offset-1 {
    margin-left: 0;
} 
.form--horizontal__button {
    height: 40px;
}

/* FORMULARIO CONTACTO */

.contacto__main {
    background-image: url(../imgs/servicios-albanil.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}
.form--contacto {
    padding-top: 20px;
}
.form--contacto .form-group {
    margin-bottom: 0;
}
.form--contacto .form-group label {
    font-style: italic ;
}




/*MOBILE*/
@media only screen and (max-width: 767px){

    .carousel-inner img{
        height: 500px;
        width: auto;
    }
    .footer__section__coment p{
        padding-top: 15px;
        margin-left: 6%;
        margin-right: 6%;
    }
    .footer__section__map ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__section__map ul li{
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $color2;
        color: $color1;
        border-radius: 15px;
        width: 60%;
    }
    .footer__section__map ul li a:visited{
        color: $color1;
    }
}



//CARDS CON SLIDERS PARA COMENTARIOS, CAMBIAR LAS CLASES
.cards-wrapper {
    display: flex;
    justify-content: center;
  }

.carousel-inner__comentarios {
    padding: 1em;
    img{
        width: 60px;
        height: 60px;
        border: $color3 solid 3px;
        border-radius: 100%;
    }
    .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: 4px $color3 solid;
        padding: 10px;
        border-radius: 15px;
        align-items: center;
        .card-body{
            text-align: center;
            padding: 0.7em;
            .card-title{
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
}
.d-md-block{
    text-align:center;
  }

.carousel-control-prev__comentarios,
.carousel-control-next__comentarios {
    background-color: #cac9c9;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  @media (min-width: 768px) {
    .carousel-inner__comentarios .card {
        width: 30%;
    }
  }


@import "header";
@import "footer";