/*FOOTER*/
.footer {
    margin-right: 0;
    margin-left: 0;
    padding-top:15px;
    padding-bottom: 15px;
}
.footer__section {
    background-color: $color3;
    border: none;
    color: $color1;
    padding: 10px;
    padding-top: 25px;
    align-items: center;
}
.footer__section__logo{
    width: 60%;
    padding-top:10px;
}
.footer__section ul {
    list-style-type: none;
    padding-top: 10px;
    padding-inline-start: 0;
}
.footer__section__contact ul li a{
    display: flex;
    gap: 10px;
}
.footer__section__redes ul{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.footer__section__icon {
    width: 30px;
    height: 30px;
}

/*FOOTER MOBILE*/
@media only screen and (max-width: 767px){

    .footer__section__coment p{
        padding-top: 15px;
        margin-left: 6%;
        margin-right: 6%;
    }
    .footer__section__map ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__section__map ul li{
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $color2;
        color: $color1;
        border-radius: 15px;
        width: 60%;
    }
    .footer__section__map ul li a:visited{
        color: $color1;
    }
}

/*COPYRIGHT*/
.copyright{
    color: $color3;
    background-color: $color1;
    font-size: 75%;
    }