/*FORMULARIO VERTICAL*/

.form--vertical {
    padding-top: 20px;
    border-radius: 15px 0 0 0;
    padding-right: 25px;
    padding-left: 25px;
    h2{
    color:$color1;
    }
    label{
        color:$color2;
    }
    .form__button{
        background-color: $color2;
        color:$color1;
        height: 35px;
    }
}
.form-group-vertical {
    margin-bottom: 0;
}
.form__button {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 15px;
}
.form-control{
    border-radius: 10px;
}
/*FORMULARIO HORIZONTAL*/

.form--horizontal{
    height: auto;
    margin-bottom: 5px;
    border-radius: 15px ;

    h2{
    color:$color1;
    }
    label{
        color:$color2;
    }
    .form__button{
        background-color: $color2;
        color:$color1;
        height: 35px;
    }

}
.form--horizontal__section{
    justify-content: center;
    margin: 0px;
}
.form--horizontal__section .offset-1 {
    margin-left: 0;
} 
.form--horizontal__button {
    height: 40px;
}

/* FORMULARIO CONTACTO */

.contacto__main {
    background-image: url(../imgs/servicios-albanil.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}
.form--contacto {
    padding-top: 20px;
    border-radius: 15px 0 0 15px;
    padding-left: 25px;
    padding-right: 25px;
    h2{
        color:$color1;
        }
        label, span{
            color:$color2;
        }
        .form__button{
            background-color: $color2;
            color:$color1;
            height: 35px;
        }
}
.form--contacto .form-group {
    margin-bottom: 0;
}
.form--contacto .form-group label {
    font-style: italic ;
}