/*HEADER*/
header{
    padding-bottom: 99px;
}
@media (max-width:500px){
    header{
        padding-bottom: 60px;
    }
}
@media (min-width:768px) and (max-width:1340px){
    header{
        padding-bottom: 50px;
    }
}

.navbar-expand-md{
    position: fixed;
    width: 100%;
    z-index: 16;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
.navbar-brand {
    width: 70%;
}
.header__nav__buttons {
    justify-content: end;
}
.nav-link{
    color: $color1;
}
.nav-link:visited{
    color: $color1;
}
.nav-link:hover{
    background-color: rgba(255, 136, 32,0.9);
    color: $color1;
    border-radius: 5px;
}
.navbar-collapse{
    flex-basis: 100%;
}
.navbar-toggler-icon{
    background-image: url(../imgs/iconmenucol.png);
    background-size: cover;
}
@media (max-width:768px){
    .header__nav{
        a{
            width: 70%;
        }
    }
}