@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap');

//VARIABLES
$color1: #F7F7F7;
$color2: #FF8820;
$color3: #0D2B49;

* {
    font-family: rubik;
}

/* GENERAL */
@mixin text-set($font-weight, $font-size, $text-transform,$text-align) {
    font-weight: $font-weight;
    font-size: $font-size;
    text-transform: $text-transform;
    text-align: $text-align;
 }
 

h1 {
    @include text-set(700, 300%, uppercase, center);
}

h2 {
    @include text-set(700, 150%, uppercase, center);
}
h3, h4, h5, h6 {
    @include text-set(400, 125%, uppercase, center);
}
p, li {
    font-weight: 400;
    font-size: 100%;
}
a:link {
    color: $color1;
}
a:visited {
    color: $color2;
}

/*SECCIONES */
$secciones:(
    bgcolor1:$color3,
    bgcolor2:$color2,
    bgcolor3:$color1,
);

@each $seccion, $colorsec in $secciones{
    .section--#{$seccion}{
        background-color: $colorsec;
    }
}

/*TEXTOS - COLOR */

.text--color1 {
    color: map-get($secciones,bgcolor1);
}
.text--color2 {
    color:$color2;
}
.text--color3 {
    color: $color1;
}



/*INDEX - PRINCIPAL*/

.principal {
    height: 85vh;
    background-image: url(../imgs/principal-background01.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal__image{
    padding-bottom: 25px;
    padding-top: 50px;
    animation-name: rotate;
    animation-duration: 1.7s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.principal__title {
    color: $color3;
}
.principal__subtitle {
    color: $color2;
}
.principal__description {
    font-style: italic;
    padding: 25px;
    @include text-set(700, 100%, normal, center);
}

/*ENCABEZADOS*/

.encabezado {
    width: 100%;
    height: auto;
    text-align: center;
}
.encabezado .encabezado__image {
    width:16%;
    padding-top: 50px;
    padding-bottom: 25px;
    animation-name: rotate;
    animation-duration: 1.7s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.encabezado h1 {
    margin-bottom: 25px;
}
.encabezado p {
    font-style: italic;
    font-weight: 700;
}
.encabezado--contacto{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.encabezado--servicios {
    @extend .encabezado--contacto;
    background-image: url(../imgs/servicios-background.jpg);
}
.encabezado--quienessomos {
    @extend .encabezado--contacto;
    background-image: url(../imgs/quienessomos-background.jpg);

}
.encabezado--nuestrosclientes {
    @extend .encabezado--contacto;
    background-image: url(../imgs/nuestrosclientes-background.jpg);

}

.contacto--icon{
    border-radius: 100%;
    height: 40px;

}
.contacto--text{
    margin: 0;
    color: #212529;
    font-weight: 400;
}


/*CARDS MISION CORPORATIVA*/
.card{
    border-radius: 0.5rem;
    border:none;
}
.section__title {
    padding-top: 20px;
    padding-bottom: 10px;
}
    .mision{
    height: auto;

    padding: 25px;

}
.card-mision {
    background-color: $color1;
    border:solid 5px  $color2;
    border-radius: 20px;
    transition: all 0.7s;
    align-items: center;
    padding: 15px;
}
.card-mision:hover{
    transform:scale(1.15);
}
.card__img {
    width: 20%;
    border:solid 5px  $color3;
    border-radius: 100%;

}
.card-title{
    font-weight: 700;
    padding-top: 10px;
}
.card-text {
    text-align: center;
    font-style: italic;
}

/*CARD DE SERVICIOS*/

.servicios__container{
    margin-left:20px ;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.servicio__card {
 padding: 0;
}
.servicio__card--body{
    background-color: $color3;
    color: $color1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.7s;
    margin: 7px;
}
.servicio__card--body:hover{
    transform:scale(1.05);
    z-index: 2;
}
.servicio__card img{
    width: 96%;
    margin: 2%;
    border-radius: 10px;
}


/*CARDS DE STAFF*/
.staff {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.staff__container{
    justify-content: space-around;
}

.staff__container__card{
    padding-top: 20px;
    align-items: center;
}
.staff__container__card:hover {
    background-color: rgba(13,43,73,0.2);
    border-radius: 15px;
}
.staff__container__img  {
    width: 100px;
    height: 100px;
    border:$color2 4px solid;
    border-radius: 100%;
    padding: 0;
}
.staff__imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;    
}
.staff__article__text p{
    text-align: justify;
    font-style: italic;
}
.staff__article__text h4 {
    font-weight: 600;
    text-align: left;
}

/*PANELES DE GALERÍA*/
.galeria__card{
    background-color: $color3;
    color: $color1;
}
.galeria__card__img{
    padding: 0;
    padding: 1em;
    border-radius: 25px;
}
.galeria__card__img{
    transition: all 0.5s;
}
.galeria__card__img:hover{
    transform: scale(1.06);

}
/*VIDEO - INDEX */
.corporative {
    align-items: center;
}
.videoIframe {
    height: 500px;
    width: 100%;
    padding-top: 15px;
}

/* BOTONES */

/*Botón de Mercadolibre*/
.btn-ml{
    text-align: center;
    height: 70px;
    .btn{
        background-color: $color2;
        border-radius: 10px;
        margin-top: 30px;
        border: none;
    }
    .btn:hover{
        background-color: $color1;
        color: $color2 !important;
        box-sizing: border-box;
        border: $color2 3px solid;
    }
    .btn:visited{
        color: $color1;
    }
}

/*Botón de Whatsapp*/
.whatsapp-left{
    background-image: url(../imgs/icon-whatsapp-left.png);
    background-size: cover;
    background-position:center;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    position: fixed;
    top:110px;
    right:0px;
    box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.4);
    z-index: 17;
}
@media (max-width:767px){
    .whatsapp-left{
        top: 130px;
    }
}


@import "carousel";
@import "formularios";
@import "header";
@import "footer";